form{
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

form label{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form label input, form label select{
    width: 100%;
    padding: 1rem;
    border: 1px solid rgb(50, 50, 50);
}

form .rows{
    display: flex;
    gap: 2%;
}

form .rows label{
   width: 49%;
}

form #add-gasto{
    padding: 1rem;
    width: 40%;
}

form button[type='submit']{
    padding: 1rem;
}

form .pushedGastos{
    background-color: rgb(120, 205, 205);
    padding: 1rem;
    border-radius: 10px;
    width: fit-content;
}

.errors-container{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: #de7575;
    padding: 1rem;
    color: #FFFF;
}