.container-faturamento{
    width: 30%;
    margin-top: 3rem;
    padding: 1rem;
    border: 1px solid #000;
}

.row-faturamento{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-faturamento .row-buttons a{
    padding: 1rem;
    border: transparent;
    color: #FFF;
    margin: 1rem 0 0 1rem;
}

.container-faturamento .row-buttons #delete-btn {
    background-color: #FA5E4E;
}

.container-faturamento .row-buttons #update-btn {
    background-color: #00C947;
}

.row-info{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.box-gastos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    background-color: #f1f1f1;
    padding: 1rem;
}

.box-gastos button{
    padding: 1rem;
    border: transparent;
    color: #FFF;
    background-color: #FA5E4E;
}

.box-gastos .valorTipo{
    display: flex;
    flex-direction: column;
    align-items: end;
}