.container-faturamento{
    width: 30%;
    margin-top: 3rem;
    padding: 1rem;
    border: 1px solid #000;
}

.row-faturamento{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-faturamento .row-buttons{
    display: flex;
    gap: 1rem;
}

.container-faturamento .row-buttons a{
    border: transparent;
    color: #FFF;
    padding: 1rem;
}

.container-faturamento .row-buttons #delete-btn {
    background-color: #FA5E4E;
}

.container-faturamento .row-buttons #update-btn {
    background-color: #00C947;
}

.row-info{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.box-gastos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    background-color: #f1f1f1;
    padding: 1rem;
}

.box-gastos #delete-btn{
    padding: 1rem;
    border: transparent;
    color: #FFF;
    background-color: #FA5E4E;
}

.box-gastos .valorTipo{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.row-info{
    margin-top: 1rem;
}

.container-options{
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.container-options a{
    padding: 1rem;
    cursor: pointer;
    transition: ease .4s;
}

.container-options #month-pdf {
    background-color: #FA5E4E;
    border: 1px solid #FA5E4E;
    color: #FFF;
}

.container-options #simples-doc {
    background-color: #07b744;
    border: 1px solid #07b744;
    color: #FFF;
}

/* HOVER */

.container-options #month-pdf:hover,  #simples-doc:hover{
    background-color: #FFF;
    color: #000;
    border: 1px solid #000;
    transition: ease .4s;
}